<div class="hero">
  <h1 class="title"> <strong class="first_letter">i</strong>MPROMPTUOUS<span> &#8480;</span></h1>
  <br >
  <br >
  
  <!--modal trigger buttons-->
  <div class="row">
    	<button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#delivery">
    		Delivery?
			</button>
    		<p><strong> Choose Your Preference</strong> </p>
    	<button type="button" class="btn btn-success btn-lg" 	data-toggle="modal" data-target="#eatOut">
    		Eat Out?
			</button>
  </div>
  <br >
  <h2><u> For the bold and daring</u> </h2>
</div>

<br>
<br>

<div class="features row">
	<div class="feature col-3">
		<h3> Decisions, Decisions </h3>
			<p> Let Impromptuous take the decision making out of the equation
			</p>
	</div>
	<div class="feature col-3">
		<h3>Inny or Outy?</h3>
			<p> Looking to eat out or in? We got that covered </p>
	</div>
	<div class="feature col-3">
		<h3> No Sign-up! </h3>
			<p> Quick and dirty without having to sign-up</p>
	</div>
</div>

    <!--delivery Modal -->
  <div class="modal fade" id="delivery" tabindex="-1" role="dialog" aria-labelledby="deliveryLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Let's see who is delivering near you!</h4>
          </div>
          <div class="modal-body">
            <%= render "delivery_form" %>
          </div>
        </div>
      </div>
    </div>

    <!--eatOut Modal -->
    <div class="modal fade" id="eatOut" tabindex="-1" role="dialog" aria-labelledby="eatOutLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Let's find eateries by you</h4>
          </div>
          <div class="modal-body">
            <%= render "eat_out_form" %>
          </div>
        </div>
      </div>
    </div>


