      <div class="container">
      	<div class="row">
        	<div class="text-muted col-md-4">
        		&copy; 2017
        	</div>
          <div class="text-muted col-4">
            Powered by:
            <%= link_to image_tag('yelp.png', alt: "Yelp logo",  class: "yelpLogo"), 'https://www.yelp.com/', target: "_blank" %>
          </div>
        	<div class="text-muted col-md-4">
        		A <a target="_blank", href="http://mabustamante.getforge.io/"> M.A. Bustamante</a> creation. 
        	</div>
        </div>
      </div>