<!DOCTYPE html>
<html>
  <head>
    <title>Impromptuous</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= yield %>

		<footer class="footer">
      <div class="container">
      	<div class="row">
        	<div class="text-muted col-6">
        		&copy; 2017
        	</div>
        	<div class="text-muted col-6">
        		A <a href="https://github.com/MiguelBee"> M.A. Bustamante</a> creation. 
        	</div>
        </div>
      </div>
    </footer>
  
  </body>
</html>